@import url('/assets/css/navbar.css');
@import url('/assets/css/media-queries.css');

* {
  box-sizing: border-box;
}

:root {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  margin: 0;
  padding: 0;
}