@import '/assets/css/navbar.css';


* {
  box-sizing: border-box;
}

:root {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  margin: 0;
  padding: 0;
}

header {
  background: url(/assets/img/White-stones.jpg);
  width: 100vw;
  height: 50vh;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-around;
  align-items: center;
}


/* Tabs css */

.tab-wrap {
  width: 50%;
  position: relative;
  display: flex;
  top: 0px;
  margin: 0 25vw;
  align-content: space-between;
  justify-content: space-around;
  align-items: center;
}

input[type=radio][name=tabs] {
  position: absolute;
  z-index: -1;
}

input[type=radio][name=tabs]:checked+.tab-label-content label {
  /* color: white; */
  color: crimson;
}

input[type=radio][name=tabs]:checked+.tab-label-content .tab-content {
  display: block;
}

input[type=radio][name=tabs]:nth-of-type(1):checked~.slide {
  left: calc((100% / 2) * 0);
}

input[type=radio][name=tabs]:nth-of-type(2):checked~.slide {
  left: calc((100% / 2) * 1);
}


input[type=radio][name=tabs]:first-of-type:checked~.slide {
  left: 0;
}

.sections {
  cursor: pointer;
  color: #333;
  background-color: #ffffff;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 60px;
  transition: color 0.2s ease;
  width: 100%;
}

.slide {
  background: crimson;
  width: calc(100% / 2);
  height: 2px;
  position: absolute;
  left: 0;
  top: calc(100% - 4px);
  transition: left 0.3s ease-out;
}

.tab-label-content {
  width: 100%;
}

.tab-label-content .tab-content {
  position: absolute;
  top: 60px;
  left: 16px;
  right: 16px;
  display: none;
}