.nav {
  top: 0;
  height: 8vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  background-color: rgb(231, 231, 231);
}

.nav>.nav-header>.nav-title {
  width: 4vw;
}

.nav>.nav-btn {
  display: none;
}

.nav>.nav-links {
  display: inline;
  font-size: 18px;
  font-weight: 200;
}

.nav>.nav-links>a {
  display: inline-block;
  padding: 15px 10px;
  text-decoration: none;
  color: #333;
}

.nav>#nav-check {
  display: none;
}