.nav {
  top: 0;
  height: 8vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.nav>.nav-header>.nav-title {
  width: 50px;
}

.nav>.nav-btn {
  display: none;
}

.nav>.nav-links {
  display: inline;
  font-size: 1rem;
  font-weight: 200;
}

.nav>.nav-links>a {
  display: inline-block;
  padding: 15px 10px;
  text-decoration: none;
  color: #333;
}

.nav>#nav-check {
  display: none;
}

/* Media queries */

@media (max-width:600px) {
  .nav {
    height: 10vh;
    /* background-color: #eee; */
    z-index: 4;
  }

  .nav>.nav-header>.nav-title {
    width: 12vw;
    padding: 0px;
  }

  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 10px;
  }

  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 20px;
  }

  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #000000;
  }

  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 10px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 72px;
    left: 0px;
  }

  .nav>.nav-links>a {
    display: flex;
    width: 100%;
    justify-content: center;
    color: #eee;
  }

  .nav>#nav-check:not(:checked)~.nav-links {
    height: 0px;
  }

  .nav>#nav-check:checked~.nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}